/* color
*--------------------------------------*/
/* mixin
*--------------------------------------*/
/* base
*--------------------------------------*/
html {
  font-size: 100%;
  line-height: 1.6;
  height: 100%;
}

body {
  color: #fff;
  overflow-x: hidden;
  font-family: "M PLUS 1p", sans-serif;
  background-color: #FFF7EF;
}
body.is-open {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

li {
  list-style: none;
}

h1 {
  font-size: 60px;
  font-size: 3.75rem;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3, h4, h5 {
  font-size: 20px;
  font-size: 1.25rem;
}

/* header
*--------------------------------------*/
.l-header {
  height: 217px;
  align-items: center;
  padding: 67px 46px;
}

/* sidebar
*--------------------------------------*/
.l-sidebar {
  position: fixed;
  margin-left: 80%;
  width: 100%;
  max-width: 20%;
  top: 0;
  left: 0;
  padding: 1% 0 0 46px;
  background-color: #F2EDE9;
  overflow-y: scroll;
  height: 100%;
  z-index: 10;
}

/* flex
*--------------------------------------*/
.l-inner {
  width: 100%;
  max-width: 80%;
}

/* flex
*--------------------------------------*/
.c-flex--sb {
  display: flex;
  justify-content: space-between;
}

/* color
*--------------------------------------*/
.c-font-color--gray {
  color: #707070;
}
.c-font-color--black {
  color: #3C2A10;
}

/* header-title
*--------------------------------------*/
.c-header-title {
  font-weight: bold;
  font-size: 64px;
  font-size: 4rem;
}

/* sidebar-title
*--------------------------------------*/
.c-sidebar-title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: bold;
}

/* menu
*--------------------------------------*/
.c-menu__list {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  padding-top: 90px;
}

/* menu-child
*--------------------------------------*/
.c-menu-child {
  padding: 32px 0 0 20px;
}
.c-menu-child__list {
  font-size: 20px;
  font-size: 1.25rem;
  padding-bottom: 20px;
}

/* page-title
*--------------------------------------*/
.c-page-title {
  font-size: 40px;
  font-size: 2.5rem;
}

/* line
*--------------------------------------*/
.c-line--short {
  content: "";
  width: 63px;
  height: 4px;
  display: inline;
  background-color: #fff;
}

/* main-visual
*--------------------------------------*/
.p-main-visual {
  height: 530px;
  background-size: cover;
  background: url(../../../img/mainvisual-pc.jpg) no-repeat center center;
  position: relative;
}
.p-main-visual__title {
  position: absolute;
  top: calc(50% - 40px/2);
  left: 86px;
}

/* type
*--------------------------------------*/
.p-type {
  padding: 120px 120px 30px 120px;
}
.p-type__divide {
  margin: 0 3%;
  width: 50%;
}

/* eat-type
*--------------------------------------*/
.p-eat-type--to {
  background: url(../../../img/take-out.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
}
.p-eat-type--ei {
  background: url(../../../img/eat-in.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;
}
.p-eat-type__describe {
  margin-top: 80%;
}
.p-eat-type__title {
  font-size: 80px;
  font-weight: bold;
  padding-left: 1%;
  position: relative;
}
.p-eat-type__title__line {
  position: absolute;
  bottom: 0;
  left: 1%;
}

/* describe
*--------------------------------------*/
.p-describe {
  background-color: rgba(255, 255, 255, 0.8);
}
.p-describe__text {
  line-break: anywhere;
}

/* padding
*--------------------------------------*/
.u-padding--none {
  padding: 0;
}

/* margin
*--------------------------------------*/
.u-margin--describe {
  margin-bottom: 16px;
}

/*--------------------------------------*
* foundation
*--------------------------------------*/
/*--------------------------------------*
* layout
*--------------------------------------*/
/*--------------------------------------*
* object
*--------------------------------------*/
/*------------------------*
* compornent
*-------------------------*/
/*------------------------*
* project
*-------------------------*/
/*------------------------*
* utility
*-------------------------*/
/*# sourceMappingURL=style.css.map */