/* flex
*--------------------------------------*/

.c-flex {
    display: flex;
    &--sb {
        display: flex;
        justify-content: space-between;
    }
    &--center {
        display: flex;
        justify-content: center;
    }
}