/* mask
*--------------------------------------*/

.c-mask {
    &--black {
        background-color: rgba(0,0,0,0.6);
        &--thin {
            background-color: rgba(0,0,0,0.25);
        }
    }
}
.is-open {
    .c-mask {
        &--whole {
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            overflow-y: hidden;
        }
    }
}