/* menu
*--------------------------------------*/
@use "./../../foundation/mixin" as *;

.c-menu {
    &__list {
        transition: all 0.3s;
        font-weight: bold;
        @include font-size(24);
        padding-top: 90px;
    }
}