/* sidebar-title
*--------------------------------------*/
@use "./../../foundation/mixin" as *;

.c-sidebar-title {
    font-family: "Roboto", sans-serif;
    @include font-size(34);
    font-weight: bold;
    @include breakpoint(tablet) {
        //display: none;
    }
}

.is-open {
    .c-sidebar-title {
        display: none;
    }
}