/* access-map
*--------------------------------------*/
@use "./../../foundation/mixin" as *;

.p-access-map {
    position: relative;
    z-index: 10;
    height: 100%;
    &__area {
        position: relative;
        width: 60%;
        padding: 120px;
        height: 100%;
        z-index: 20;
        @include breakpoint(tablet) {
            width: 100%;
            padding: 40px;
        }
        @include breakpoint(sp) {
            background-color: rgba(0,0,0,0.25);
            height: 60%
        }

        &__title {
            @include font-size(36);
            padding-bottom: 50px;
            position: relative;
            @include breakpoint(tablet) {
                padding-bottom: 15px; 
                @include font-size(30);
            }
            &__line {
                position: absolute;
                bottom: 0;
                left: 1%;
                @include breakpoint(tablet) {
                    left: 0%;
                }
            }
        }
        &__text {
            margin-top: 60px;
            line-height: 2;
            @include breakpoint(tablet) {
                margin-top: 15px;
            }
        }
    }
}


//試し
.test {
    height: 500px;
    width: 100%;
    &_mask {
        background-color: rgba(100,200,20,0.6);
        height: 100%;
        &_second {
            background-color: rgba(0,0,0,0.25);
            height: 60%;
        }
    }
}