/* eat-type
*--------------------------------------*/
@use "./../../foundation/mixin" as *;

.p-eat-type {
    &--to {
        background: url(../../../img/take-out.jpg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16px;

        //TakeOut,EatInの高さ揃え対応
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: stretch;
    }
    &--ei {
        background: url(../../../img/eat-in.jpg);
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 16px;

        //TakeOut,EatInの高さ揃え対応
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__describe {
        margin-top: 80%;

        //TakeOut,EatInの高さ揃え対応
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__title {
        font-size: 80px;
        font-weight: bold;
        padding-left: 1%;
        position: relative;
        @include breakpoint(tablet){
            @include font-size(44);
        }
        @include breakpoint(sp){
            @include font-size(41);
        }
        &__line {
            position: absolute;
            bottom: 0;
            left: 1%;
        }
    }
}