/* main-visual
*--------------------------------------*/
@use "sass:math";

$title-height: 40px;    //page-titleのフォントサイズ

.p-main-visual {
    height: 530px;
    background-image: url(../../../img/mainvisual-pc.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    &__title {
        position: absolute;
        top: calc( 50% - math.div( #{$title-height}, 2));   //フォントサイズの1/2マイナス
        left: 86px;
    }
}