/* type
*--------------------------------------*/
@use "./../../foundation/mixin" as *;

.p-type {
    padding: 120px;
    @include breakpoint(tablet){
        padding: 40px;
    }
    @include breakpoint(sp){
        padding: 20px 20px 50px 20px;
    }
    &__content {
        @include breakpoint(sp){
            flex-direction: column;
        }
    }
    &__divide {
        //margin: 0 3%;
        width: 48%;

        //TakeOut,EatInの高さ揃え対応
        display: flex;
        flex-direction: column;
        @include breakpoint(sp){
            width: 100%;
        }
    }
}