/* sidebar
*--------------------------------------*/
@use "./../foundation/color"as *;
@use "./../foundation/mixin"as *;

.l-sidebar {
    //position: fixed;
    position: absolute; //サイドメニューをスクロールさせない対応
    margin-left: 80%;
    width: 100%;
    max-width: 20%;
    top: 0;
    left: 0;
    padding-top: 84px;
    padding-left:46px;
    //padding-bottom: 170px;
    background-color: $color-beije;
    //overflow-y: scroll; //サイドメニューをスクロールさせる
    height: 100%;
    min-height: 100%;
    transform: 0.3s;
    @include breakpoint(tablet) {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
    }
}