/* sidebar
*--------------------------------------*/
@use "./../foundation/color"as *;
@use "./../foundation/mixin"as *;

.l-sidebar {
    //position: fixed;
    position: absolute; //サイドメニューをスクロールさせない対応
    margin-left: 80%;
    width: 100%;
    max-width: 20%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    padding-top: 84px;
    padding-left:46px;
    //padding-bottom: 170px;
    background-color: $color-beije;
    z-index: 20;
    transition: all 300ms 0s ease;
    @include breakpoint(tablet) {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
    }
}

//Menuクリック時
.is-open {
    .l-sidebar {
        display: block;
        left: 0%;
        overflow-y: auto;   //サイドメニューをスクロールさせる
        position: fixed;    //サイドメニューをスクロールさせる
        &__close {
            position: absolute;
            width: 60px;
            height: 60px;
            top: 0;
            right: 0;
            cursor: pointer;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 30px;
                left: 10px;
                width: 45px;
                height: 6px;
                background-color: $color-gray;
            }
            &::before {
                transform: rotate(-315deg);
            }
            &::after {
                transform: rotate(315deg);
            }
        }
    }
}